# Maven files
target/

/bin/
/.classpath
/.project
/ddgbuilder.jar
/.settings/
/.DS_Store
/eclispe-build.xml
/nbproject
/build/
manifest.mf
/lib/CopyLibs/*
lib/nblibraries.properties
nbbuild.xml
ddg-explorer*.jar
/dist/
/export.jardesc
/manifest

# Eclipse project files
.project
.classpath
.settings

# IntelliJ IDEA files
*.iml
*.ipr
*.iws
*.idea
